
<footer> 
    <nav class="navbar fixed-bottom navbar-dark bg-dark footer" style="padding: 0">
        <i class="designed-by">Designed by Yohannes Habte. COSC 225: Web Programming final project</i>
    </nav>
</footer>