<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-map fa-lg"></i> Show Map
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div id="mapid"></div>
    </div>
</div>