<% include partials/top.ejs %>

<!-- page content starts here -->      
<div class="jumbotron">
    <br class="my-4">
    <h1 class="display-3">So Sorry.</h1>
    <p class="lead">404 Error</p>
    <hr class="my-4">
    <p>This page does not exist!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">
        Go Back To Home <i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
    </p>
</div>
<!-- page content ends here -->

<% include partials/bottom.ejs %>