<!doctype html>
<html lang="en">
<head>
   <% include partials/head.ejs %>
</head>
<body>
    <% include partials/header.ejs %>
    
    <% include login.ejs %>

    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
</body>
</html>