<div class="container login">
    <fieldset>
        <button type="button" class="btn btn-light btn-lg btn-block legend" disabled>LOGIN</button>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon1">
                <i class="fa fa-at" aria-hidden="true"></i>
            </span>
            <input type="text" class="form-control" placeholder="Your Augie Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button type="button" class="btn btn-success btn-lg btn-block">
            Confirm with
            <i class="fa fa-google" aria-hidden="true"></i>
        </button>
    </fieldset>
</div>