/* Header.ejs */
header {
    font-family: 'Playfair Display', serif;
}
.pointer {
    cursor: pointer !important;
}
.bg { 
    opacity: 0.75;
    z-index: -10;
    position: fixed;
    min-height: 100%; /* maybe 100% then overlay footer too */
    min-width: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.my-navbar{
    height: 100px;
    z-index: 50;
    padding: 0;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}


/*footer.ejs*/

i.designed-by {
    font-family: 'Work Sans', sans-serif;
    font-size: x-small;
    width: 100%;
    text-align: center;
    color: rgba(212, 218, 212, 0.986);
    overflow: hidden;
}

#help-container {
    margin-top: 5%;
    position: relative;
    width:100%;
}


#how-to {
    width: 100%;
    padding: 0 auto;
}
#play {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#how-it {
    width: 50%; 
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-26%,-50%);
    z-index: 500;
}

/* login.ejs */
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', sans-serif;
}
.legend {
    font-family: 'Vollkorn', sans-serif;
}


/*common*/
.center-to-page {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: inherit;
} 

.page-content {
    background: -webkit-linear-gradient(to right, #acb6e5, #86fde8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #acb6e5, #86fde8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    position: fixed;
    padding: 2%;
    margin:0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    top:100px;
    bottom: 15px;
    left:0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 5;
}


/* displayMail.ejs */
#pickup {
    float:right;
}
.newmail {
    background: rgb(174, 222, 236) !important;
}
.mail-item, .mail-head {
    display: inline !important;
    overflow: scroll !important;
}
.mail-item {
    margin:3px 0px 5px 0px !important;
    padding:0px 5px 0px 5px !important;

    font-family: 'Raleway', sans-serif;
    font-weight: 500 !important;
}
.mail-head {
    margin:0px 5px 3px 0px !important;
    padding:5px 5px 3px 3px !important;
    font-family: 'Spectral SC', serif !important;
}

.btn3d {
    position:relative;
    width: auto;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px rgb(13, 116, 13);
    text-align:center;
    padding:16px 18px 14px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    
    -webkit-box-shadow: 0px 6px 0px rgb(13, 116, 13);
    -moz-box-shadow: 0px 6px 0px rgb(13, 116, 13);
    box-shadow: 0px 6px 0px rgb(13, 116, 13);
}


/* tracking.ejs */

#mapid { 
    height: 400px; 
}



.card-head {
    margin: 0 !important;
    padding: 10px !important;
    font-family: 'Spectral SC', serif !important; 
}
